
html {
box-sizing: border-box;
}
*, *::before, *::after {
box-sizing: inherit;
}
body {
font-family: "OpenSans", sans-serif;
margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
:root {
--font-family: "OpenSans", sans-serif;
--second-family: "BebasNeueBold", sans-serif;
}
/* header */
.header {
min-height: 768px;
}
.container {
max-width: 1440px;
width: 100%;
margin: 0 auto;
}
.block {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 40px;
height: 768px;
}
.header_img {
width: 101px;
height: 23px;
margin-bottom: 316px;
}
.block_h2 {
margin-bottom: 14px;
}
.header_h5 {
margin-bottom: 225px;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
text-align: center;
color: #fff;
letter-spacing: 0.19px;
}
.header_h6 {
font-family: var(--font-family);
font-weight: 600;
font-size: 11px;
letter-spacing: 0.29em;
text-align: center;
color: #fff;
}

/* navbar */
ul {
padding: 0;
margin: 0;
display: flex;
list-style-type: none;
}
li:nth-child(2) {
color: #00A4E5;
}
li {
font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
letter-spacing: 0.09em;
text-align: center;
}
.navbar {
min-height: 65px;
}
.main-block {
max-width: 941px;
padding-top: 22px;
margin: 0 auto;
}
.block_navbar_flex {
display: flex;
align-items: center;
margin: 0 auto;
}
.navbar_img {
margin-right: 450px;
border: 3px solid transparent;
}
.navbar_img:hover {
border: solid 3px #8b00ff;
}
.navbar_right {
display: flex;
}
li {
font-family: var(--font-family);
font-weight: 600;
font-size: 12px;
letter-spacing: 0.09em;
text-align: center;
color: #48555b;
list-style-type: none;
border-bottom: 3px solid transparent;
}
li:hover {
border-bottom: 3px solid #00A4E5;
}

li:nth-child(1) {
margin-right: 46px;
}
li:nth-child(2) {
margin-right: 38px;
color: #00A4E5;
}
li:nth-child(3) {
margin-right: 35px;
}
li:nth-child(4) {
margin-right: 26px;
}
/*about*/
.about {
padding-top: 50px;
padding-bottom: 50px;
min-height: 344px;
}
.block_about {
max-width: 941px;
width: 100%;
margin: 0 auto;
}
.about_title {

}
.about_flex {
display: flex;
gap: 6px;
}
.left_about {

}
.left_h4 {

}
.left_p {

}
.right_about {

}
.right_flex {
display: flex;
}
.item {

}
